.book-list-container {
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #333;
}

.no-books {
    text-align: center;
    color: #777;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
}

.book-title {
    margin-top: 0;
    color: #007bff;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.edit-button, .delete-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.edit-button {
    background-color: #007bff;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}
